header
{
    height: 100vh;
}
body
{
    background-image: url('fond4.png');
    background-attachment: fixed;
    background-size: cover;
    width: auto;
    margin: 0px;    
}

scroll-container {
  display: ;
  width: auto;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
scroll-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

a:-webkit-any-link
{
    text-decoration: none;
    color: #19587d;
}
a:-webkit-any-link:hover
{
    text-decoration: none;
    color: #19587d;
    transform: scale3d(1.02, 1.02, 1.02);
    transition: 330ms;
}
#bloc_page
{
    width: auto;
    margin: auto;
}
@font-face 
{
    font-family: 'Andrea';
    src: url('font/Andrea.ttf');
}
@font-face
{
    font-family: 'roboto';
    src: url('font/roboto/Roboto-Light.ttf')
}
@font-face
{
    font-family: 'roboto cond';
    src: url('font/roboto/Roboto-Condensed.ttf');
}
#top
{
    display: flex;
    width: auto;
    justify-content: space-around;
    /*background-color: rgb(247, 176, 34);*/
    /*background-attachment: fixed;*/
    padding: 70px;
    margin: 0px;
    margin-top: 5%;
}
#top2
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#top2 img 
{
    width: 50%;
}

#top2 h2
{
    margin: 0;
    margin-top: 15px;
}

h1
{
    color: #19587d;
    font-family: 'Andrea';
    font-size: 4em;
    text-align: center;
}

#prez{
    display:flex;
    align-items: center;
}

#pic
{
    margin-right: 40px;
}
h2
{
    color: #062C42;
    font-family: 'roboto cond';
    font-size: 2em;
    text-align: right;
    margin-top: 110px; /* mage ext */
    margin-left: 55px ;
}



h5
{
    color: #19587d;
    font-family: 'roboto cond';
    font-size: 1.5em;
    text-align: right;
    margin-top: 1px; /* mage ext */
    margin-left: 55px ;
}
#presentation
{
    display: flex;
    justify-content: center;
    width: 700px;
    margin: auto;
}
p
{
    font-family: 'Helvetica', sans-serif;
    font-size: 18px;
    color: #062C42;
    margin: 30px;
    background: rgb(255 255 255 / 68%);
    border-radius: 15px;
    padding: 30px;


}

.conteneur
{
    display: flex;
    justify-content: space-between;
    overflow: auto;
    width: auto;
}

scroll-container h3
{
    clear: right;
    font-family: 'Andrea';
    color: #19587d;
    text-align: center;
    font-size: 4.7em;
    margin-top: 100px;
    margin-bottom: 50px;
    padding-top: 100px;
}

scroll-container h4
{
    color:#062C42;
    margin-top: 3rem;
}

h4
{
    clear: right;
    font-family: Arial, 'Helvetica', sans-serif;
    color: #062C42);
    text-align: center;
    font-size: 1em;
    padding: 5px;  
}
#MENU
{
    width: auto;
    /*background-color:rgb(247, 176, 34);*/
    padding: 5px;
    /*border-top: solid 5px black;*/
    margin-top: 15vh;
}
nav ul
{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}
nav li
{
    display:flex;
    justify-content: space-around;
}
nav a
{
    display: flex;
    justify-content: space-around;
    color: #19587d;
    font-family: 'roboto';
    font-size: 20px;
    text-decoration: none;
    border: 2px solid #19587d;
    padding: 15px 35px;
    border-radius: 25px;
    font-weight: bold;
    transition: opacity 0.3s ease;
    width: max-content;
    
}
nav a:hover
{
    color: rgb(0, 0, 0);
    
}

#retour
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 50px;
    bottom: 68px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    
}

#retour a
{
    border:none;
}

#retour a:hover
{
    border:none;
    opacity: 0.6;
}


@keyframes slideup {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0);
  }
}
.retour {
    animation: slideup 2s infinite;
    animation-timing-function: ease-in-out;
}
.top {
    
}
#copyright
{
    display: flex;
    font-family: Arial, 'Helvetica', sans-serif;
    color: #19587D;
    justify-content: end;
    margin: 20px 20px;
    font-size: 13px;
}
@media all and (min-width: 1024px)
{
    #bloc_page
    {
        width: auto;
    }
    #body
    {
        background-image: url('fond3.jpg');
        background-attachment: fixed;
        width: auto;
    }
    .conteneur .flottant
    {
        float: right;
        margin: 5px;
        transform: scaleX(0.990);
        border: solid #19587d;
    }


    .conteneur .flottant:hover {
        transform: scaleX(1.00);
        transition: 330ms;
        opacity: 1;
    }
}
@media all and (max-width: 768px)
{
    #bloc_page
    {
        width: auto;
    }
    #top2
    {
        display: flex;
    }
    
    #top2 img {
        width: 100%;
    }
    
    #JT
    {
        display: none;
    }
    #presentation
    {
        width: auto;
    }
    
    #MENU
    {
        margin: 0;
    }
    
    nav a
    {
        font-size: 15px;
        width: auto;
    }
    
    nav ul
    {
        display:flex;
        flex-direction: colunm;
        flex-wrap: wrap;
    }
    
    nav li 
    {
        display: initial;
        /* justify-content: space-around; */
        margin: 5%;
        width: 70%;
        margin-right: auto;
        margin-left: auto;
    }
    
    #body
    {
        background-image: url('fond3.jpg');
        background-attachment: fixed;
        width: auto;
    }
    h4
    {
        font-size: 12px;
    }
    .conteneur .flottant {
        opacity: 1 !important;
        padding: 3px;
        
    }
    #prez
    {
        display: flex;
        flex-direction: column;
    }
    #pic 
    {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 10%;
    }
    .conteneur .flottant
    {
        float: right;
        margin: 1px;
        transform: scaleX(0.990);
        border: solid #19587d;
    }
}

footer {
    height: 90px;
    border-top: solid 3px rgb(247, 176, 34);
    margin-top: 100px;
    padding-top:30;
}

footer #reseaux a img
{
    width: 4rem;
    margin: 1rem;
}

footer #reseaux a img:hover
{
    opacity: 0.7;
    transform: scale3d(1.02, 1.02, 1.02);
    transition: 330ms;
}
