body
{
    background-image: url('fond3.jpg');
    background-attachment: fixed;
    
}
#bloc_page
{
    width: auto;
    margin: auto;
}
@font-face 
{
    font-family: 'Andrea';
    src: url('font/Andrea.ttf');
}
@font-face
{
    font-family: 'roboto';
    src: url('font/roboto/Roboto-Light.ttf')
}
@font-face
{
    font-family: 'roboto cond';
    src: url('font/roboto/Roboto-Condensed.ttf');
}
#top
{
    display: flex;
    width: auto;
    justify-content: space-around;
    background-color: rgb(247, 176, 34);
    background-attachment: fixed;
    padding: 20px;
}
h1
{
    color: white;
    font-family: 'Andrea';
    font-size: 4em;
    text-align: center;
}
#pic
{
    display:flex ;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
h2
{
    color: rgb(0, 0, 0);
    font-family: 'roboto cond';
    font-size: 2em;
    text-align: right;
    margin-top: 110px; /* mage ext */
    margin-left: 55px ;
}
h5
{
    color: white;
    font-family: 'roboto cond';
    font-size: 1.5em;
    text-align: right;
    margin-top: 1px; /* mage ext */
    margin-left: 55px ;
}
#presentation
{
    display: flex;
    justify-content: center;
    width: 650px;
    margin: auto;
}
p
{
    font-family: 'Helvetica', sans-serif;
    font-size: 17px;
    text-align: center;
    color: rgb(247, 176, 34);
    margin: 30px;


}

#conteneur1
{
    display: flex;
    border: 2px solid gray;
    overflow: auto;
    width: 1270px;

}
#conteneur2
{
    display: flex;
    border: 2px solid gray;
    overflow: auto;
    width: 1270px;

}#conteneur3
{
    display: flex;
    border: 2px solid gray;
    overflow: auto;
    width: 1270px;

}
#conteneur4
{
    display: flex;
    border: 2px solid gray;
    overflow: auto;
    width: 1270px;

}
#conteneur5
{
    display: flex;
    border: 2px solid gray;
    overflow: auto;
    width: 1270px;

}
#conteneur6
{
    display: flex;
    border: 2px solid gray;
    overflow: auto;
    width: 1270px;

}
#conteneur7
{
    display: flex;
    border: 2px solid gray;
    overflow: auto;
    width: 1270px;

}
#conteneur8
{
    display: flex;
    border: 2px solid gray;
    overflow: auto;
    width: 1270px;

}
#conteneur9
{
    display: flex;
    border: 2px solid gray;
    overflow: auto;
    width: 1270px;

}
#conteneur10
{
    display: flex;
    border: 2px solid gray;
    overflow: auto;
    width: 1270px;

}
#conteneur11
{
    display: flex;
    border: 2px solid gray;
    overflow: auto;
    width: 1270px;

}
#conteneur12
{
    display: flex;
    border: 2px solid gray;
    overflow: auto;
    width: 1270px;

}
#conteneur13
{
    display: flex;
    border: 2px solid gray;
    overflow: auto;
    width: 1270px;

}
h3
{
    clear: right;
    font-family: 'Andrea';
    color: white;
    border-top: solid 5px rgb(247, 176, 34);
    text-align: center;
    font-size: 3.7em;
    margin-top: -0.1px;
    margin-bottom: -0px;
}
h4
{
    clear: right;
    font-family: Arial, 'Helvetica', sans-serif;
    color: rgb(247, 176, 34);
    text-align: center;
    font-size: 1em;
    padding: 5px;  
}
#MENU
{
    width: auto;
    background-color:rgb(247, 176, 34);
    padding: 5px;
    border-top: solid 5px black;
}
nav ul
{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
nav li
{
    display:
}
nav a
{
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'roboto';
    font-size: 20px;
    text-decoration: none;
}
nav a:hover
{
    color: rgb(0, 0, 0);
    border-bottom: 3px solid gray;
}

#retour1
{
    display: flex;
    justify-content: center;
    clear: right;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 1em;
    padding: 5px; 
}
#retour2
{
    display: flex;
    justify-content: center;
    clear: right;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 1em;
    padding: 5px; 
}
#retour3
{
    display: flex;
    justify-content: center;
    clear: right;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 1em;
    padding: 5px; 
}
#copyright
{
    display: flex;
    font-family: Arial, 'Helvetica', sans-serif;
    color: rgb(247, 176, 34);
}
@media all and (max-width: 1500px)
{
    #bloc_page
    {
        width: auto;
    } 
}
@media all and (max-width: 830px)
{
    #bloc_page
    {
        width: auto;
    }
    #top2
    {
        display: none;
    }
    #JT
    {
        display: none;
    }
    #presentation
    {
        width: auto;
    }
    nav a
    {
        font-size: 15px;
        width: auto;
    }
}






